@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /*Tobii mods*/
    .tobii-zoom{
        width: 100%;
    }
    .tobii__slide figure > img {
        padding-bottom: 50px;
    }

    /* iframe {
        max-width: 90%;
        margin: auto;
    } */

    .tobii {
        background-color: black;
    }
	
   cursor{
/* Keyword value */
cursor: auto;
cursor: pointer;
/* … */
cursor: zoom-out;

/* URL with mandatory keyword fallback */
cursor: url(/public/kryds.jpeg), pointer;
   }

}